.add_project {
  position: relative;
  .add_button {
    color: #fff;
    position: fixed;
    right: 64px;
    bottom: 48px;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: skyblue;
  }
  .add_form {
    // padding: 8px;
    text-align: center;
    position: fixed;
    width: 375px;
    // height: 480px;
    background-color: #fefefe;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 12px #dfdfdf;
    z-index: 10;
    padding: 36px 4px;

    .content {
      cursor: auto;
      padding: 8px;
      outline: none;
      resize: none;
      width: 300px;
      height: 120px;
      border-radius: 8px;
      border: 1px solid #e3e3e3;
    }
    .submit {
      margin-top: 24px;
      width: 80%;
      background-color: skyblue;
      border: none;
      border-radius: 8px;
      height: 32px;
    }
  }
}

.date-select {
  position: relative;
  width: 315px;
  margin: 8px auto;
  input {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 4px 0;
    color: #555;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
  }
  .date-calendar {
    padding: 8px 0;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px #eee;
  }
}
