.add_project {
  position: relative;
  .add_button {
    cursor: pointer;
    color: #fff;
    position: fixed;
    right: 64px;
    bottom: 48px;
    font-size: 24px;
    text-align: center;
    line-height: 54px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #bcecff;
    z-index: 1;
  }
  .flac {
    transform: rotate(45deg);
  }
  .add_form {
    // padding: 8px;
    text-align: center;
    position: fixed;
    width: 375px;
    // height: 480px;
    background-color: #fefefe;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 12px #dfdfdf;
    z-index: 10;
    padding: 36px 4px;

    .tagname {
      padding: 4px 0;
      font-weight: 700;
      font-size: 14px;
      color: #797979;
      width: 315px;
      margin: 0 auto;
      text-align: left;
    }

    >.box {
      padding: 4px 0;
      width: 315px;
      margin: 0 auto;
      border-radius: 8px;
    }

    .content {
      cursor: auto;
      padding: 8px;
      outline: none;
      resize: none;
      width: 300px;
      height: 120px;
      border-radius: 8px;
      border: 1px solid #e3e3e3;
    }
    .submit {
      margin-top: 24px;
      width: 80%;
      background-color: #00b7f7;
      border: none;
      border-radius: 4px;
      height: 32px;
      font-size: 18px;
      color: #fff;
      outline: none;
    }
    
    >.time-selects {
      width: 315px;
      margin: 0 auto;
      display: flex;
      padding: 12px;
      >div:nth-child(2) {
        font-size: 32px;
        width: 84px;
        height: 70px;
        line-height: 70px;
      }
    }
  }
}

.date-select {
  position: relative;
  width: 315px;
  margin: 8px auto;
  input {
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 4px 0;
    color: #555;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
  }
  .date-calendar {
    padding: 8px 0;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px #eee;
  }
}

.time-select {
  display: inline-block;
  display: flex;
  width: 58px;
  font-size: 20px;
  > div {
    height: 64px;
    flex: 1;
  }
  > div:nth-child(2) {
    line-height: 72px;
  }
  .prev,
  .next {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    color: #ddd;
  }
}

.class-select {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .tag {
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
  }
  .add-button {
    margin: 4px;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #56bf2a;
    color: #56bf2a;
  }
}
