$calendarWidth: 315px;
$calendarColor: #9cb2cd; // 字体默认颜色
$noThisMonth: #d8e3f1; // 非本月颜色

.calendar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
  font-family: "黑体", "微软雅黑", "Microsoft YaHei";
  font-size: 16px;
  width: $calendarWidth;
  color: $calendarColor;
  text-align: center;
  line-height: 30px;
  .year {
    display: flex;
    flex-wrap: nowrap;
    outline: none;
    a {
      display: inline-block;
      width: 28px;
      height: 28px;
      background-color: #fff;
      // border: 1px solid #dee2ec;
      border-radius: 8px;
      outline: none;
      cursor: pointer;
    }
    .select {
      color: #273142;
      flex: 1;
      position: relative;
      cursor: pointer;
      .list {
        color: $calendarColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        position: absolute;
        transform: translate(-15%, 0);
        width: 240px;
        height: 120px;
        background-color: #fff;
        // box-shadow: 0 3px 6px #ddd;
        border-radius: 8px;
        border: 2px solid #edf2f7;
        left: ($calendarWidth - 232px) / 2;
        top: 36px;
        .current {
          background-color: #eff6ff;
          border-radius: 16px;
        }
        .option {
          line-height: 40px;
          width: 25%;
          height: 40px;
          cursor: pointer;
        }
        .option:hover {
          background-color: #eff6ff;
          border-radius: 16px;
        }
        .array {
          width: 0;
          height: 0;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -100%);
          border: 8px solid rgba($color: #000000, $alpha: 0.0);
          border-bottom: 8px solid #edf2f7;
        }
      }
    }
  }

  .week {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 4px 0;
  }

  .days {
    margin-top: 4px;
    .pack {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      div {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      .no-this {
        color: $noThisMonth;
      }
      .current {
        background-color: #538fff;
        color: #fff;
        border-radius: 30px;
      }
    }
    .stay {
      border-radius: 30px;
      background-color: #eff6ff;
    }
  }
}
