.projects {
  .project {
    // padding: 0 8px;
    margin: 8px auto;
    width: 98%;
    height: 24px;
    overflow: hidden;
    display: flex;
    span {
      display: inline-block;
      height: 100%;
    }

    .label-name {
      // padding: 0 8px;
      width: 64px;
      text-align: right;
    }

    .content {
      text-align: right;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .project-wait {
    color: #e69500;
  }

  .project-goon {
    color: #346bd2;
  }
  .project-done {
    color: #5ec334;
  }
}
