$sidebarWidth: 375px;

.sidebar {
  position: absolute;
  overflow: hidden;
  width: $sidebarWidth;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f6f9ff;
}

.container {
  position: absolute;
  overflow: hidden;
  left: $sidebarWidth;
  right: 0;
  top: 0;
  bottom: 0;
}

.box {
  width: 315px;
  margin: 12px auto;
  padding: 12px 8px;
  border-radius: 8px;
  background-color: #fff;
  .top {
    padding: 4px 8px;
    background-color: #f6f9ff;
    cursor: pointer;
    height: 24px;
    border-radius: 8px;
    line-height: 24px;
    margin-bottom: 4px;
    i {
      color: #559aef;
    }
    .tagName {
      color: #559aef;
      font-family: "微软雅黑";
      font-weight: 700;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
