.timesheet {
  :focus {
    cursor: move;
  }
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  > div:nth-child(1) {
    width: 87px;
    height: 49px;
    position: absolute;
    box-sizing: border-box;
    border-bottom: 1px solid #e6eaf1;
    border-right: 1px solid #e6eaf1;
    background-color: #fff;
    z-index: 3;
    top: 0;
    left: 0;
  }

  .ruler {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    display: flex;
    z-index: 2;
    text-align: center;
    line-height: 48px;
    border-bottom: 1px solid #e6eaf1;
    background-color: #fff;
    div {
      box-sizing: border-box;
      border-right: 1px solid #e6eaf1;
      flex: 1;
    }
  }
  canvas.time {
    position: absolute;
    z-index: 1;
  }
  canvas.table {
    position: absolute;
  }

  div.labels {
    position: absolute;
    .label {
      position: absolute;
      border-radius: 6px;
      overflow: hidden;
      .top {
        height: 24px;
        background-color: #000;
        opacity: 0.1;
        color: #fff;
        .time {
          float: left;
        }
        .tag {
          float: right;
        }
      }
      .content {
        flex: 1;
      }
    }
  }
}

.timeline {
  position: absolute;
  z-index: 1;
  // background-color: #FE443F;
  .time {
    font-size: 12px;
    color: #fff;
    padding: 0 4px;
    border-radius: 8px;
    background-color: #fe443f;
  }
  .line {
    position: absolute;
    top: 50%;
    left: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #fe443f;
  }
}