$sidebarWidth: 375px;

.sidebar {
  position: absolute;
  overflow: hidden;
  width: $sidebarWidth;
  left: 0;
  top: 0;
  bottom: 0;
}

.container {
  position: absolute;
  overflow: hidden;
  left: $sidebarWidth;
  right: 0;
  top: 0;
  bottom: 0;
}

.box {
  width: 315px;
  margin: 0 auto;
  .top {
    height: 24px;
    line-height: 24px;
    margin-bottom: 4px;
    .tagName {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
